body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.hero .nav {
    box-shadow: 0 0px 0;
}

.hero.is-primary {
    background-color: #F0F0F0;
}

.hero.is-primary .nav {
    box-shadow: 0 0px 0;
}

.hero.is-primary .nav-right.nav-menu.is-active {
    background-color: rgb(40, 40, 60);
}

/*
.header-image {
    background-image: url('../images/background.jpg');
    background-size: cover;
}
*/

.header-image {
    background-size: cover;
}

.icon-down-arrow:before {
    content: "\FE40";
    font-size: 30px; font-weight: bold
}

.hero-cta {
  padding: 30px 0;
}
.panel-block.section p {
  font-size: 17px;
  line-height: 1.4;
  color:#95A5A6;
}
.section.main {
  background-color:#F0F0F0;
}

.icon-block {
  font-size:5em;
}

.footer {
  background-color: rgb(54, 54, 54);
  color:rgb(220, 220, 220);
}

.nav-item.nav-item-footer {
  color:rgb(220, 220, 220);
}

.nav-item.nav-item-footer a,
a.nav-item.nav-item-footer {
  color: rgb(220, 220, 220);
}

.nav-item.nav-item-footer a:hover,
a.nav-item.nav-item-footer:hover {
  color: rgb(255, 255, 255);
}

.title.title-footer {
  color:rgb(220, 220, 220);
}

.logo-text
{
  color:rgb(255, 255, 255);
  font-size: 18pt;
  font-family: 'Yeseva One', cursive;
  text-transform: uppercase;
}

.car-list-item {
  color:rgb(10, 10, 10);
}

.car-list-item a,
a.car-list-item {
  color: rgb(10, 10, 10);
}

.car-list-item a:hover,
a.car-list-item:hover {
  color: rgb(0, 0, 0);
}

.black-border-for-text {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

/* .dark-border-for-text {
  text-shadow: -1px 0 rgb(100, 100, 100), 0 1px rgb(100, 100, 100), 1px 0 rgb(100, 100, 100), 0 -1px rgb(100, 100, 100);
} */

.is-mobile.car-rate-item {
  color: rgb(10, 10, 10);
}

i.fa.fa-camera.car-camera-rate-item {
  font-size: 9pt;
  color: rgb(150, 150, 150);
}

th.car-rate-table {
  text-align: right;
}

.nav-left {
  flex: 1;
}

.nav-right {
  flex: initial;
}

.nav-lang {
  align-items: center;
  display: flex;
  flex: auto;
  max-width: 100px;
}

.lang-link {
  padding: 4px 15px; 
}

.active-link {
  border: solid 1px white;
  border-radius: 5px;
  font-weight: bold;
}

.show-auto-button {
  display: none;
}

@media (max-width: 766px) {

  .show-auto-button {
    display: block;
    font-size: 1rem;
  }

  .show-auto-button .fa {
    vertical-align: middle;
  }

  .auto-list {
    display: none;
  }

}